.tech {
  width: 50vw;
  border-bottom: #E5E5E5 1px solid;
  padding: 12px;
}

.developer {
  border-bottom: #E5E5E5 1px solid;
  width: 50vw;
  padding: 12px;
}

.techHeader {
  width: 50vw;
  padding: 12px;
}

.developerHeader {
  width: 50vw;
  padding: 12px;

}

.row {
  display: flex;
}

.rowHeader {
  display: flex;
  background-color:  #E5E5E5;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5515555;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.589);
}
