.item {
  border-bottom: 1px solid gray;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  max-width: 606px;
  min-height: 36px;
  border-collapse: collapse;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  align-self: flex-end;
}

.container {
  max-width: 606px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.thead {
  background-color: #e5e5e5;
  color: #000;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
}

.nameCol {
  padding: 16px;
}

.ageCol {
}
